*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Style for loader*/

div.box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

div.squares{
  width: 50px;
  height: 50px;
  animation: scale ease 1.4s infinite;
}

.squares::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #7289da;
  top: -10px;
  left: -10px;
  animation: top ease 2s infinite;
}

.squares::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #7289da;
  bottom: -10px;
  right: -10px;
  animation: bottom ease 2s infinite;
}


@keyframes top{
  0%{
      left: -10px;
  }

  20%{
      left: 100%;
      top: -10px;
  }

  40%{
      top: 100%;
      left: 100%;
  }

  60%{
      top: 100%;
      left: -10px;
  }
  
  80%{
      top: -10px;
      left: -10px;
      transform: rotate(180deg);
  }

  100%{
      transform: rotate(360deg);
  }
}


@keyframes bottom{
  0%{
      right: -10px;
  }
  
  20%{
      right: 100%;
      bottom: -10px;
  }

  40%{
      bottom: 100%;
      right: 100%;
  }

  60%{
      right: -10px;
      bottom: 100%;
  }

  80%{
      bottom: -10px;
      right: -10px;
      transform: rotate(180deg)
  }

  100%{
   transform: rotate(360deg);
  }
}


@keyframes scale{
  0%{
      transform: scale(1);
  }

  50%{
      transform: scale(0.8);
  }
  100%{
      transform: scale(1);
  }

}


p#changeText{
animation: fade ease 3s infinite;
color: #888888;
}

@keyframes fade{
0%{
opacity:0;
}

50%{
opacity:1;
}

100%{
  opacity: 0;
}

}
div.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c2f33;
  z-index: 10;
}

div.wraps{
  padding-top: 300px;
}

/*ends*/


body{
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

header{
  max-width: 100%;
  /*padding: 0% 8%;*/
}

div.padman{
  padding: 0% 8%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


a.logo img{
  width: 87px;
  padding: 15px 0px;
}

ul{list-style-type: none;}

li{display: inline;
}

li a{
  text-decoration: none;
  color: #ffffff;
  padding: 29px 50px 29px 0px;
  font-size: 18px;
}

.cta{
  background-color: #FE410A;
  font-size: large;
  padding: 10px 48px;
  margin: 29px 0px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
}

.menu{display: none;}


section.head{
  background-image: url('./header_back.png');
  background-position: center center;
  background-repeat: no-repeat;
}

div.overlay{
  background-color: rgb(0, 80, 103,0.7);
  height:100%;
  max-width: 100%;
}


div.foreimg img{
  max-width: 90%;
  display: block;
  margin: 0 auto;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}


div.intro{
  max-width: 100%;
  text-align: center;
  padding-top: 110px;
}

div.intro h1, div.intro p{
  color:#ffffff;
  font-size: 40px;
}

div.intro p{
  font-size: 20px;
  padding-top: 10px;
}

div.nav-container{
  background-color: rgb(0, 80, 103);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: none;
}

div.nav-container li a{
  display: block;
  padding: 30px 100px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

div.nav-container a.cta-2{
  border-bottom: none;
  background-color: #FE410A;
  padding: 12px 0px;
  margin: 20px 12px;
}

div.menu div{
  width: 40px;
  height: 5px;
  margin: 8px 0px;
  background-color: #FE410A;
}

div.nav-container.show{
  display: block;
}


div.content{
  overflow: hidden;
  position: relative;
}

div.cards{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
row-gap: 40px;
/*
grid-auto-rows: 300px;*/

}


div.cards div{
  background-color: #ffffff;
  border-radius: 8px;
  border-top: 5px solid #FE410A;
}

div.card-m img{
  padding: 10px ;
}

button.butts{
  display: none;
  outline: none;
  width: 50px;
  height: 50px;
  background-color: #FE410A;
  border: 1px solid #FE410A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 0;
}

button.sec{
  right: unset;
  left: 0;
}

div.card-m img{
  width: 100%;
  border-radius: 18px;
}

div.card-m h3,div.card-m p{
  padding: 5px;
  padding-left: 10px;
}
div.card-m p:nth-last-child(1){
  padding-bottom: 10px;
}

h1.heading{
  padding-top: 80px;
}

p.sub-heading{
  padding: 20px 0px 30px 0px;
}

/*icons*/
header p i.fa-solid{
  color: #005067;
}

div.para{
  display: flex;
 justify-content: space-between;
 align-items: center; 
 width: 100%;
 background-color: #ffffff;
 margin-top: 60px;
}

div.para-txt{
  width: 60%;
  padding-left: 8%;
}

div.para-txt p{
  padding-top: 10px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 24px;
}

div.para-txt h1{
  font-size: 28px;
  font-weight: bold;
}

div.para-img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.para-img img{
  width: 100%;
}

div.vision{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

div.vision img{
  display: block;
  width: 50%;
  padding-left: 8%;
}

div.vision-txt{
  width: 50%;
  padding-left: 30px;
  padding-right: 8%;
}

div.vision-txt p{
  padding:10px 0px;
  line-height: 24px;
}

div.contact{
color: #ffffff;
margin-top: 60px;
width: 100%;
background-image: url(./back.png);
text-align: center;
}

div.over{
  padding-top: 29px;
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
div.bottom-txt{
  background-color: #005067;
  color: #ffffff;
  text-align: center;
  padding: 60px 0px;
}

div.info{
  text-align: left;
}

div.cnt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


p.copy{
  margin-top: 40px;
  padding-top:30px;
  border-top: 1px solid #f9f9f9;
}

div.over p{
  padding-top: 10px ;
}


div.info p{
  font-size: 20px;
  padding: 5px 0px;
}

/*Mobile*/
@media only screen and (max-width:600px){
.links {
  display: none;
}

.menu{
  display: inline;
}


div.cards{
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
}

div.card-m{
  position: absolute;
  width: 100%;
}

div.cards div{
  display: none;
}


div.cards div.showme{
  display: block;
  }

  button.butts{
    display: block;
  }
  
  div.para{
    flex-direction: column-reverse;
  }

  div.para-txt{
    width: 100%;
  }

  div.para-txt h1{
    font-size: 23px;
    padding-top: 18px;
  }

  div.para-txt p{
    font-size: 16px;
  }

  div.para-img{
    width: 100%;
  }

  div.vision{
    flex-direction: column;
  }
  div.vision img{
    width: 100%;
    padding-left: 0;
  }
  
  div.vision-txt{
    padding-top: 20px;
    width: 100%;
  }

  div.cnt{
    flex-direction: column;
    text-align: center;
  }

  div.info{
    text-align: center;
  }

  div.info p{
    font-size: 16px;
  }

  div.cnt img{
    width: 50%;
    padding-bottom: 30px;
  }
}